.red-text { color: $red; }
.yellow-text { color: $yellow; }
.navy-text { color: $navy; }
.gunmetal-text { color: $gunmetal; }

.red-bg { background-color: $red; }
.yellow-bg { background-color: $yellow; }
.navy-bg { background-color: $navy; }
.gunmetal-bg { background-color: $gunmetal; }